.contenido {
  background-color: #fffbf5;
}

#cordoba {
  text-align: center;
  padding: 2em;
}

#larioja {
  text-align: center;
  padding: 2em;
}

h2 {
  padding: 2em;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif";
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
}

.anuncio {
  height: 300px;
  background-color: #ffee00;
}

.container{
  padding-bottom: 15px;
}

.card{
  margin-left: 9px;
}
